apiVersion: batch/v1
kind: CronJob
metadata:
  name: invoicing-openstack-daily
spec:
  schedule: "0 7 * * *"
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: invoicing-openstack-daily
            image: ghcr.io/cci-moc/openstack-billing-from-db:latest
            envFrom:
              - secretRef:
                  name: invoicing-openstack-credentials
            imagePullPolicy: Always
          restartPolicy: OnFailure
