name: test-py311-unit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python 3.11
        uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Install normal and test requirements
        run: |
          ./ci/setup.sh

      - name: Run unit tests
        run: |
          ./ci/run_unit_tests.sh
